* {
  margin: 0;
  padding: 0;
}
header {
  height: 70px;
  position: sticky;
}
.imagen-logo {
  height: 50px;
}

.caja-1-principal {
  height: 430px;

  box-shadow: -2px 2px 11px 1px rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  .caja-1-principal {
    width: 50%;
  }
}
@media (min-width: 768px) {
  /* contenedor-padre-de-tarjetas-2 {
    position: relative;
  }
  .titulo {
    position: absolute;
  } */
}

.imagen-bulbasaur {
  mix-blend-mode: multiply;
  width: 55px;
  height: 57px;
}
.cajita-de-pokemon1 {
  width: 200px;
  height: 200px;
  box-shadow: -2px 2px 11px 1px rgba(0, 0, 0, 0.3);
}
